# Python
__pycache__/
*.py[cod]
*.pyo

# Pytest
.pytest_cache/

# Python packaging
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db